.wrapper_footer{
    width: 100% ;
    background: #233445;
    height: 40px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font: bold 14px Comfortaa;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
}